In [19]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./AskAnthropology.csv")

## EDA of AskAnthropology DF

In [3]:

df.head()

,Unnamed: 0,body,subreddit,author,created_utc
0,0.0,[removed],AskAnthropology,[deleted],1634601908
1,1.0,[removed],AskAnthropology,[deleted],1634598171
2,2.0,[deleted],AskAnthropology,[deleted],1634588639
3,3.0,"This all seems really helpful, thank you so much!",AskAnthropology,2npii,1634586224
4,4.0,Adrienne Meyer has done quite a bit of researc...,AskAnthropology,umbrabates,1634580081

In [4]:
df.shape

(60082, 5)

In [5]:
#The df has an Unnamed column that needs to be removed
df.drop(columns=['Unnamed: 0'], inplace=True)

In [7]:
df.shape

(60082, 4)

## Deleted Rows

### Cleaned up 2 columns by removing '[body]' and '[removed]' from the body comments

In [8]:
#removed '[removed]' posts from body column
filt = df['body'] == '[removed]'
df.drop(index=df[filt].index, inplace=True)

In [9]:
filt2 = df['body'] == '[deleted]'
df.drop(index=df[filt2].index, inplace=True)

In [10]:
df.shape

(48927, 4)

### After, I added a body length and a body word count column

In [11]:
df['body_length'] = df['body'].str.len()

In [12]:
df['body_word_count'] = df['body'].str.count(' ') + 1

#### The average amount of words in the body column is 81, and average character length in the body was 504

In [13]:
round(df['body_word_count'].mean())

81

In [14]:
round(df['body_length'].mean())

504

## Trimming the total posts down to 25_000

In [17]:
#Trimming comments to start the modeling phase
anthropology = df[0:25_000]

In [18]:
anthropology

,body,subreddit,author,created_utc,body_length,body_word_count
3,"This all seems really helpful, thank you so much!",AskAnthropology,2npii,1634586224,49,9
4,Adrienne Meyer has done quite a bit of researc...,AskAnthropology,umbrabates,1634580081,1283,199
5,&gt;Grave Matters: A Lively History of Death A...,AskAnthropology,Cryptayy,1634576037,201,33
6,&gt; I was also thinking about the books from ...,AskAnthropology,twiggez-vous,1634575441,272,47
8,"In England, there were specific laws about thi...",AskAnthropology,dokh,1634573321,706,121
...,...,...,...,...,...,...
34755,"It’s not colonialist, it’s not even uncommon. ...",AskAnthropology,splooge-defender,1590168951,669,112
34757,huh? they also were not IE,AskAnthropology,AnakinKardashian,1590168471,26,6
34758,Basques then,AskAnthropology,wes_bestern,1590167870,12,2
34759,"What ""very vital evidence"" has he produced?\n\...",AskAnthropology,PreviousDrawer,1590166854,225,36
34760,ha I didn’t even realize i was responding to a...,AskAnthropology,GlosamaBinBallin,1590166749,111,23

In [23]:
anthropology.to_csv('./data/anthropology_cleaned.csv')